In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..'))
	print(os.getcwd())
except:
	pass

In [24]:
import os
try:
	os.chdir(os.path.join(os.getcwd(), '/'))
	print(os.getcwd())
except:
	pass

/

In [25]:
import numpy as np
import pandas as pd

 Задача 1

In [26]:
from sklearn.datasets import load_boston

In [27]:
boston = load_boston()
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.DataFrame(boston.target, columns=['price'])

In [28]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [29]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
y_pred[:5]

array([[28.64896005],
       [36.49501384],
       [15.4111932 ],
       [25.40321303],
       [18.85527988]])

In [32]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7112260057484974

 Задача 2

In [33]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42, n_jobs=8)

In [34]:
model.fit(X_train, y_train.values[:,0])
y_forest_pred = model.predict(X_test)
y_forest_pred[:5]

array([22.84613791, 31.15611352, 16.29722565, 23.82103598, 17.21214765])

In [35]:
r2_score(y_test, y_forest_pred)

0.8749965273218175

 Модель с деревьми работает лучше

 Задание 3*

In [36]:
importances = model.feature_importances_
np.sum(importances)

0.9999999999999994

In [37]:
indx = np.argsort(importances)
indx = indx[::-1]

In [38]:
print(f"{boston.feature_names[indx[0]]} важность {importances[indx[0]]}")
print(f"{boston.feature_names[indx[1]]} важность {importances[indx[1]]}")

LSTAT важность 0.41567892145099405
RM важность 0.4027045916967308