### Задание 1

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({
    'author_id'  : [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [3]:
book = pd.DataFrame({
    'author_id' : [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price'     : [450, 300, 350, 500, 450, 370, 290]
})
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

### Задание 2

In [4]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

### Задание 3

In [5]:
top5 = authors_price.sort_values(by='price', ascending=False).head()
top5 = top5.reset_index(drop=True)
top5

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350

### Задание 4

In [6]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat.columns = ['price_min', 'price_max', 'price_mean']
authors_stat = authors_stat.reset_index()
authors_stat

  author_name  price_min  price_max  price_mean
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

### * Задание 5

In [7]:
covers = pd.DataFrame({
    'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
})
authors_price = pd.concat([authors_price, covers], axis=1)
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [8]:
import numpy as np

In [13]:
book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum)
book_info['мягкая'], book_info['твердая'] = book_info['мягкая'].fillna(0), book_info['твердая'].fillna(0)
book_info

KeyError: ('мягкая', 'твердая')

In [10]:
book_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Островский to Чехов
Data columns (total 2 columns):
мягкая     3 non-null float64
твердая    3 non-null float64
dtypes: float64(2)
memory usage: 72.0+ bytes

In [11]:
book_info.to_pickle('book_info.pkl')

In [12]:
book_info2 = pd.read_pickle('book_info.pkl')
book_info2 == book_info

cover        мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True